@use '../fonts/index' as fonts;

$fonts: (
    'heading': fonts.$font-barriecito,
    'body': fonts.$font-vend-sans,
    'special': fonts.$font-delius,
);

$font-sizes:(
    'sm': 12px,
    'md': 18px,
    'lg': 36px,
    'xl': 50px,
    '2xl': 64px,
    '3xl': 72px,
);

$heading-sizes:(
    'h1': 100px,
    'h2': 36px,
    'h3': 24px,
    'h4': 20px,
    'h5': 18px,
    'h6': 16px,
);

$font-weights: (
    'light': 300,
    'normal': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700,
    'extrabold': 800,
);

@each $name,$size in $font-sizes {
    .text-#{$name} {
        font-size: $size;
    }
}

@each $name,$weight in $font-weights {
    .font-#{$name} {
        font-weight: $weight;
    }
}

@each $name,$size in $heading-sizes {
    .#{$name} {
        font-size: $size;
    }
}