@use '../variables/colors' as colors;

$border-widths: (
    '0': 0,
    '1': 1px,
    '2': 2px,
    '4': 4px,
    '8': 8px,
);

$border-radius: (
    'none': 0,
    'sm': 0.125rem,
    'md': 0.375rem,
    'lg': 0.5rem,
    'xl': 0.75rem,
    'full': 9999px,
);

// border colours
@each $color-name, $color-value in colors.$colors {
    .border-#{$color-name} {
        border-color: $color-value;
    }
}

// border width
@each $name, $width in $border-widths {
    .border-#{$name} {
        border-width: $width;
    }
}

// border radius
@each $name, $radius in $border-radius {
    .rounded-#{$name} {
        border-radius: $radius;
    }
}

// border styles
.border-solid {
    border-style: solid;
}

.border-dotted {
    border-style: dotted;
}

.border-dashed {
    border-style: dashed;
}