@use 'sass:map';
@use '../variables/typography' as typography;

h1{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'xl');
}

h2{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'lg');

}

h3{
    font-family: map.get(typography.$fonts, 'heading');
}

h4{
    font-family: map.get(typography.$fonts, 'heading');
}

h5{
    font-family: map.get(typography.$fonts, 'heading');
}

h6{
    font-family: map.get(typography.$fonts, 'heading');
}