@use 'sass:map';
@use '../variables/typography' as typography;

h1{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, '2xl');
}

h2{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'xl');

}

h3{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'lg');
}

h4{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'md');
}

h5{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'sm');
}

h6{
    font-family: map.get(typography.$fonts, 'heading');
    font-size: map.get(typography.$font-sizes, 'sm');
}

